{% extends "base2.html" %}
{% load static %}
{% block  content %}

{% comment %} main start {% endcomment %}

<main>
<!--container satrt-->
  <div class="container">
    <div class="row" ><!--row start-->
      <div class="col-12" > <!--col start-->

        <div class="pricing-header col-9 md p-2 pb-md-2 mx-auto text-center text-dark rounded-3 mt-4 mb-2"style="background-color:rgb(217 220 227);">
          <h4 class="col">Edit your PDFs with ease, precision, and flexibility. Your documents, your way.</h4>
        </div>
        </div>
<br> 
        <div class="row mx-auto">
          <div class="container text-center custom-container">

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> 
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static "eea.jpeg" %}" class="d-block w-100 rounded-3" alt="...">
              <div class="carousel-caption text-dark d-none d-md-block">
                <h2>Why Choose Editevolv?</h2>  
                 <p> <h4>User-Friendly Interface</h4></p>
                <p><h4>Affordable Price Plan</h4></p>
                <p><h4>Advanced Editing Features</h4></p>
              </div>
            </div>
           
            <div class="carousel-item">
              <img src="{% static "ee.jpeg" %}"class="d-block w-100 rounded-3" alt="...">
              {% comment %} <div class="carousel-caption d-none d-md-block mb-5 p-5"> {% endcomment %}
              <div class="carousel-caption d-none  text-dark d-md-block">
                <h2>Why Choose Editevolv?</h2>  
                <p> <h4>User-Friendly Interface</h4></p>
               <p><h4>Affordable Price Plan</h4></p>
               <p><h4>Advanced Editing Features</h4></p>
              </div>
            </div>
            
            <div class="carousel-item">
              <img src="{% static "eee.jpeg" %}" class="d-block w-100 rounded-3" alt="...">
              <div class="carousel-caption d-none text-dark d-md-block">
                <h2>Why Choose Editevolv?</h2>  
                <p> <h4>User-Friendly Interface</h4></p>
               <p><h4>Affordable Price Plan</h4></p>
               <p><h4>Advanced Editing Features</h4></p>
              </div>
            </div> 
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>



              <br>
            {% comment %} <button start {% endcomment %}
             <div class="row justify-content-between">
                <div class="col-4">
                  <a class="navbar-brand"  href=""> <img src="{% static 'edit11.png' %}" alt="Logo" class="logo"   height="70px"></a>
                </div>

                <div class="col-4">
                  <a class="navbar-brand"  href="#"> <img src="{% static 'edit12.png' %}" alt="Logo" class="logo"   height="70px"></a>

                </div>
              </div>
            {% comment %} <button end {% endcomment %}

      </div> <!--col end-->
    <div> <!--row end-->
  </div><!--container end-->

</main>

<br>
   <div class="container " id="featured-3"><!--container start-->
    <div class="row row-cols gap-3 mx-auto"><!--row start-->
          <div class="feature col bg-light text-dark border rounded-3 gap-3">
            <h2>Your Ultimate PDF File Converter Solution:</h2>
            <p>In today’s fast-paced digital world, efficiency, 
              accuracy, and convenience are key. At Editevolv, 
              we provide an all-in-one solution to your PDF needs,
              ensuring that you can seamlessly manage, convert,
                and edit PDF files with ease. Whether you’re a business professional,
                student, or someone who frequently deals with documents, 
                Editevolv is designed to simplify your workflow and enhance productivity. 
                Ready to take control of your PDF files? Sign up for Editevolv today and discover the easiest way to convert,
                  edit, and manage your documents.</p>
              </div>

              <div class="col-md-6  rounded-3 text-dark"style="background-color:rgb(250, 250, 250);" >

              <h3 class="text-center  mt-2"></i>Upload Your File</h3>
              
              <label for="formFile" class="form-label l1 rounded-3 "> <h1><i class="bi bi-cloud-arrow-down-fill"></i>UPLOAD FILE</h1></label>
              <input class="form-control" type="file" id="formFile">
              <h5 class="text-center  ">Edit first, pay later.</h5>         
          </div>
          
          
<style>

  input[type="file"]{
    display:none;
  }

  label{
    {% comment %} display:inline-block; {% endcomment %}
  }

.l1{
  height: 50vh;
  width: 100%;
  border: 1px dashed black;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  {% comment %} margin-top: 5em; {% endcomment %}

}
</style>

            <div class="feature col-lg bg-light border rounded-3 ">
            <div class="row align-items-center">
              <img  src="{% static '' %}" class="img-fluid" width="100%"  style="height: 55vh" alt="...">
              </div>
            </div>
  </div> <!--row end-->

</div><!--container end-->

<br>
<div class="container">
  <div class="row row-cols-md-4 gap-4 mx-auto">

<div class="card p-0 mx-0" style="width: 26rem;">
  <div class="card-body rounded-3" style="background-color:#A9A9A9;">
    <h5 class="card-title text-center text-light">ONE PDF</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">★ One PDF File or Document</li>
    <li class="list-group-item">★ Text editing</li>
    <li class="list-group-item">★ Image insertion/removal</li>
    <li class="list-group-item">★ Page rearrangement</li>
    <li class="list-group-item">★ Ideal for occasional users who need quick edits</li>
  </ul>
  <div class="card-body ">
    <button class="btn btn-primary">Rs. 1/-</button>
   <button href="#" class="card-link btn btn-primary">Buy Now</button>
  </div>
</div>
<div class="card p-0 mx-0" style="width: 26rem;">
  <div class="card-body rounded-3" style="background-color:#A9A9A9;">
    <h5 class="card-title text-center text-light">ONE HOUR</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">★ Five PDF File or Document</li>
    <li class="list-group-item">★ Text editing</li>
    <li class="list-group-item">★ Image insertion/removal</li>
    <li class="list-group-item">★ Page rearrangement</li>
    <li class="list-group-item">★ Perfect for users who require multiple edits in a short timeframe</li>
  </ul>
  <div class="card-body ">
    <button class="btn btn-primary">Rs. 3/-</button>
   <button href="#" class="card-link btn btn-primary">Buy Now</button>
  </div>
</div>
<div class="card p-0 mx-0" style="width: 26rem;">
  <div class="card-body rounded-3" style="background-color:#A9A9A9;">
    <h5 class="card-title text-center text-light">ONE DAY</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">★ Unlimited Edits for 24 Hours</li>
    <li class="list-group-item">★ Edit multiple PDFs in a single day without extra charges</li>
    <li class="list-group-item">★ Image insertion/removal</li>
    <li class="list-group-item">★ Page rearrangement</li>
    <li class="list-group-item">★ Ideal for occasional users who need quick edits</li>
  </ul>
  <div class="card-body ">
    <button class="btn btn-primary">Rs. 9/-</button>
   <button href="#" class="card-link btn btn-primary">Buy Now</button>
  </div>
</div>

</div>
</div>
<br>


  <div class="container ">    
  <div class="row  mx-auto">

       <div class="col-md-6  border rounded-3 text-dark" style="background-color:rgb(250, 250, 250);">
          <h1 class="text-center">Need Help!</h1>
            {% comment %} <div class="h-100 p-5 text-white bg-dark rounded-3"> {% endcomment %}
          <div class="mb-3  ">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control bg-light" id="exampleFormControlInput1" placeholder="">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email id</label>
            <input type="email" class="form-control bg-light" id="exampleFormControlInput1" placeholder="">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Issue:</label>
            <textarea class="form-control bg-light" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <div class="mb-3">
            <input type="submit" class="btn btn-primary text-light" id="exampleFormControlInput1" placeholder="">
          </div>

        </div>

       <div class="col-md-6 border rounded-3  text-dark" style="background-color:rgb(250, 250, 250);">
        {% comment %} <div class="cols h-100 p-5 bg-light border rounded-3" > {% endcomment %}
          <h3 class="col mt-5 py-5">Daily access to premium PDF features at a price that fits your budget. Edit smarter, not harder. -Founder</h3>
        {% comment %} </div> {% endcomment %}
       </div>
    </div>
  </div>
<br>

{% endblock %}



